<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="author" class="nav-link">Author
          <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
              <li class="nav-item">
                <a routerLink="./create" class="nav-link">Create</a>
              </li>
              <li class="nav-item">
                <a routerLink="/author/update" class="nav-link">Update</a>
              </li>
              <li class="nav-item">
                <a routerLink="/author/list" class="nav-link">List</a>
              </li>
            </div>
          </nav>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="book" class="nav-link">Book
          <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="navbar-nav mr-auto">
              <li class="nav-item">
                <a routerLink="./create" class="nav-link">Create</a>
              </li>
              <li class="nav-item">
                <a routerLink="/author/update" class="nav-link">Update</a>
              </li>
              <li class="nav-item">
                <a routerLink="/author/list" class="nav-link">List</a>
              </li>
            </div>
          </nav>
        </a>
      </li>
    </div>
  </nav>
</div>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>